@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

.card {
    color: grey;
    /* opacity: 0.6; */
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}


.card:hover {
    opacity: 1;
    color: white;
    cursor: pointer;
}

.card.small {
    height: 130px;
    width: 130px;
    border: 1px solid transparent;
    text-align: center;
    
}

@media screen and (max-width: 600px) {
    .card.small {
       height:100px;
       width: 100px;
    }
}

.card.large {
    height: 300px;
    width: 300px;
}
