@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    background-color: #141414;
    width: 90%;
    min-width: 500px;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .html {
        height: 95vh;
        width: 100%;
    }
}

.border {
    width: 100%;
    position: fixed;
    top: 0; right: 0;  left: 0;
    background-image: linear-gradient(black, #141414 );

}



.netflixHeading {
    color: white;
    text-align: center;
    font-family: Helvetica-Neue, Arial, sans-serif;
    font-size: 45px;
    font-weight: 100;
    margin-top: 170px;
    margin-bottom: 0 !important;
    
}

@media screen and (max-width: 600px) {
    .netflixHeading {
        font-size: 20px;
      
    }
}


.characterGrid {
    display: flex;
    justify-content: center;
    margin-top: 20px;
   
}

@media screen and (max-width: 600px) {
    .characterGrid {
        display:grid;
        grid-template-columns: repeat(2, minmax(40px, 1fr));
        justify-items: center;
        width: 100%;
      
    }
}

@media screen and (max-width: 600px) {
    .card {
       margin-bottom: 60px;
    }
}


img {
    border: 2px solid transparent;
    border-radius: 5%;
  }

img:hover {
    border: 2px solid white;
  }

img.logo {
    border: none;
    height: 35px;
    width: 130px;
    margin-top: 15px;
    margin-left: 45px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    max-width: 100%;
}

@media screen and (max-width: 600px) {
    img.logo {
        display: none;
    }
}